@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Poppins', sans-serif;
}

@layer base {
	main {
		padding: 2rem;
		height: 100%;
	}

	h1 {
		font-family: var(--font-sans), serif;
		font-size: var(--text-3xl);
		text-align: center;
	}

	h2 {
		font-family: var(--font-sans), serif;
		font-size: var(--text-2xl);
		text-align: center;
	}

	a {
		color: var(--color-blue-800);
		text-decoration: underline;
	}

	button {
		@apply rounded-sm bg-blue-800 text-white py-2 px-4 hover:bg-blue-700 active:bg-blue-900;
	}

	input[type='checkbox'] {
		@apply w-4 h-4 rounded-sm;
	}
}
